body{
	margin:0;
	color:#424242;
	font: 400 14px 'Ubuntu', sans-serif;
	background:#F8F8F8;
	min-width:320px;
	overflow-x: hidden;
	height: 100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:none;
}
html {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 100%;
}
*, *:before, *:after{
	box-sizing: inherit;
	-moz-box-sizing: inherit;
}
*{max-height: 1000000px; outline: none; -webkit-tap-highlight-color: rgba(0,0,0,0);}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary{display: block;}
img{
	border-style:none;
	width: 100%;
	height: auto;
	display: block;
}
a {
	text-decoration: underline;
	color: inherit;
	outline:none;
}
input,
textarea,
select{
	font:100% 'Ubuntu', sans-serif;
	vertical-align:middle;
	color: inherit;
}
textarea{
	overflow:auto;
	resize:vertical;
	vertical-align:top;
	outline:none;
}
form, fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
button::-moz-focus-inner,
input::-moz-focus-inner{
	padding:0;
	border:0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"]{
	-webkit-appearance: button;
	cursor: pointer;
}
input[type="search"]{-webkit-appearance: none;}
input[type="search"]::-webkit-search-cancel-button{-webkit-appearance: none;}
input[type="search"]::-webkit-search-decoration{display:none;}
sub,
sup{
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
table {
	border-collapse:collapse;
	border-spacing:0;
}

img {
	display: block;
	width: 100%;
}