//@import 'bootstrap4/bootstrap.scss';
@import 'bootstrap4/bootstrap-grid.scss';
//@import 'bootstrap4/bootstrap-reboot.scss';
@import 'reset.scss';
@import 'fonts.scss';
@import 'footer.scss';

.page {
	min-height: 100%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
  	flex-direction: column;
	justify-content: space-between;
}

.content {
	width: 100%;
	display: block;
	position: relative;
	margin: 0 auto;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
